<header>
    <nav>
        <div class="page-icon">
            <a href="/">
                <h2>WeBLOG</h2>
                <p>Transforming blogging experience</p>
           </a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/all-blogs">Blogs</a></li>
            <li><a href="/blogs/users/blogs-create">Create</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>