
<header>
    <nav>
        <div class="page-icon">
            <a href="/">
                <h2>WeBLOG</h2>
                <p>Transforming blogging experience</p>
           </a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/all-blogs">Blogs</a></li>
            <li><a href="/blogs/users/blogs-create">Create</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <div class="dropdown">
                    <span class="dropbtn">User</span>
                    <div class="dropdown-content">
                      <a href="/users/login">login</a>
                      <a href="/users/signup">signup</a>                      
                    </div>
                  </div> 
            </li>
        </ul>
    </nav>
</header>