<header>
    <nav>
        <div class="page-icon">
            <h2>WeBLOG</h2>
            <p>Transforming blogging experience</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/blogs-create">Create</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>