<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="create-blog">
        <h2 class="signup-h2">Create Your Blog</h2>
        <div class="container">
            <form action="/users/create-blog">
                <label for="blog-title">Blog Title</label>
                <input type="text" name="blog-title" id="blog-title" placeholder="Enter your title" autocomplete="off">     
                <label for="blog-snippet">Blog Snippet</label>
                <input type="text" name="blog-snippet" id="blog-snippet" placeholder="Describe in short"autocomplete="off">                
                <label for="blog-body">Body</label>
                <textarea name="blog-body" id="blog-body" placeholder="Write your mind..."></textarea>
                
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    
    
    



    <%- include('./partials/footer.ejs') %>
</body>
</html>