<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="page-banner"></div>
    <div class="mid-section">
        <div class="heading">
            <h2>WHY BLOG WITH US</h2>
            <p>WeBLOG is a free to use blogging platform that connects you with like-minded people
            thereby opening a whole new world of people willing to share their knowledge.
            </p>
        </div>
        <div class="mid-container">
            <div class="box tip1"></div>
            <div class="box tip2"></div>
            <div class="box tip3"></div>
        </div>
    </div>
    <div class="customers">
        
    </div>





    <%- include('./partials/footer.ejs') %>
</body>
</html>