*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    background-color: rgb(19, 18, 18);
    opacity: 1;
    z-index: 2;
}
nav .page-icon a{
    color: white;
}
nav .page-icon h2{
    position: relative;
    left: 40px;
}
nav .page-icon p{    
    font-size: smaller;
    position: relative;
    left: 10px;
}
nav ul{
    position: absolute;
    right: 100px;
    top: 18px;
}
nav ul li{
    display: inline-block;
    margin-right:20px ;
}
nav ul li a{
    text-decoration-line: none;
    color: wheat;
}
.page-banner{
    background-image: url(./images/confetti.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.mid-section{
    height: 540px;
    width: 100%;
    padding-top: 3%;
    background: rgb(255,255,255);
    background: linear-gradient(24deg, rgba(255,255,255,1) 37%, rgba(255,200,216,1) 78%, rgba(255,135,135,1) 100%); 
}
.mid-section .heading{
    width: 60%;
    margin: 0 auto;
}
.mid-section .heading h2,.mid-section .heading p{
    text-align: center;
    line-height: 1.5em;
}
.mid-section .heading h2{
    color: #df5353;
    font-family: 'Chilanka', cursive;
    font-size: 2.6em;
    font-weight: bolder;
}
.mid-section .heading p{
   color: #4d2424;
   font-family: 'Noto Sans', sans-serif;
}
.mid-section .mid-container{
    width: 80%;
    margin: 3% auto;
}
.mid-section .mid-container .box{
    width: 30%;
    margin: 10px;
    height: 300px;
    display: inline-block;
    background: rgb(86,2,89);
    background: linear-gradient(24deg, rgba(86,2,89,1) 36%, rgba(94,41,41,1) 100%); 
}
.customers{
    width: 100%;
    height: 390px;
    background: rgb(250, 241, 241);


}
footer{
    height: 100px;
    background-color: rgb(201, 78, 78); 
    /* position: fixed;
    bottom: 0px;
    left: 0px; */
    width: 100%; 
}
.copyright{
    position: relative;
}
.copyright p{
    position: absolute;
    top:50px;
    left:600px;
}



/*Blog Create Page Styles*/

.create-blog{
    position: relative;
    top:50px;
    height: 800px;
}

.create-blog .signup-h2,.login-h2{
    text-align: center;
}
.create-blog .container{
    background-color: white;
    width: 30%;
    margin: 30px auto;
    padding: 30px;
}
.create-blog .container form label {
    display: block;
    text-align: left;
    margin-left: 15%;
    
}
.create-blog .container form input{
    display: block;
    margin: 20px auto;
    color: gray;
    width: 80%;
    height: 40px;
    padding: 5px 20px;    
}
.create-blog .container form textarea{
    display: block;
    margin: 20px auto;
    color: gray;
    width: 80%;
    height: 200px;
    padding: 5px 20px;
}
.create-blog form .error{
    width: 60%;
    text-align: center;
    color:rgb(196, 43, 43); 
    font-size: medium;
    background-color: rgb(248, 211, 223);   
    position: relative;
    left:42px;
    top:0px;
    margin-bottom: 10px;
}
.create-blog .container form button{
    padding: 10px;
    width: 120px;
    position: relative;
    left:12%;
    background-color: rgb(230, 73, 73);
    color: white;
    border: 5px solid  rgb(230, 73, 73);
    border-radius: 10px;
}
.create-blog .container form button:hover{
    background-color: rgb(228, 92, 92);
}